/*remove bullets (black dots)*/
ul {
    list-style-type: none;
}

.char-name,
.char-image,
.char-loc {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center
}

.char-image {
    margin: auto
}

h1 {
    text-align: center;
}

.input-search {
    display: flex;
    justify-content: center;
    margin-bottom: 15px
}

.card{
    border: none
}